div.menu {
    background-color: #393434;
    overflow: auto;
    white-space: nowrap;
}

div.menu a {
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.footer{
    text-align: center;
    background: #393434;
    overflow: hidden;
    vertical-align: middle;
}


.footer p{
    color: white;
}



.polozka {
    float: left;
    width: 20%;
    padding: 12px;
}

.polozka img {
    opacity: 0.9;
    cursor: pointer;
}

.radek:after {
    content: "";
    display: table;
    clear: both;
}

.obrazek {
    position: relative;
    display: none;
}

@media only screen and (max-width: 600px) {
    .polozka {width: 16.66%;}
    .obrazek {width: 25%;}
}